.item {
    border: 1px solid var(--colour);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 41rem;
}

.imgDiv {
    position: relative;
}

.img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.card {
    padding: 2rem 2rem 0 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.detail {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.price {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--colour);
}

/* .hr {
    border: none;
    height: 1px;
    background-color: var(--colour);
    margin-top: 1rem;
} */
