.panel {
    background-color: var(--card-background-colour);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4rem;
    padding: 3rem 2rem;

    max-width: 86rem;
    margin: 0 auto;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fieldset {
    border: none;
    display: flex;
    align-items: center;
}

.label {
    display: flex;
    align-items: center;
}

.input {
    transform: scale(0);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    font-size: inherit;
    padding: 1rem 2rem;
}

.btn:hover {
    background-color: var(--background-colour);
}

.input:checked ~ .btn {
    background-color: var(--background-colour);
}
