.panel {
    background-color: var(--card-background-colour);
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    color: var(--h2-colour);
    transform: translateY(-4rem);
}

.form {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
}

.fieldset {
    border: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    align-items: center;
}

.select {
    font-size: inherit;
    color: inherit;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid var(--border);
    background-color: var(--card-background-colour);
}

.label {
    display: none;
    align-items: center;
}

.input {
    display: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    font-size: inherit;
    padding: 1rem 2rem;
    border: 1px solid var(--border);
}

.btn:hover {
    background-color: var(--background-colour);
}

.input:checked ~ .btn {
    background-color: var(--background-colour);
}

.toggle {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.toggleInput {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switch {
    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--background-colour);
    transition: all ease-in 300ms;
}

.switch::before {
    content: '';
    position: absolute;
    left: 3px;
    width: 1.75rem;
    height: 1.75rem;
    background-color: white;
    border-radius: 50%;
    transition: all ease-in 300ms;
}

.toggleInput:checked + .switch {
    background-color: var(--primary);
}

.toggleInput:checked + .switch::before {
    transform: translateX(1.4rem);
}

@media (min-width: 40em) {
    .form {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .select {
        display: none;
    }

    .label {
        display: flex;
    }
}
