.panel {
    background-color: var(--card-background-colour);
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    color: var(--h2-colour);
    transform: translateY(-4rem);
}

.form {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
}

.fieldset {
    border: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    align-items: center;
}

.select {
    font-size: inherit;
    color: inherit;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid var(--border);
    background-color: var(--card-background-colour);
}

.label {
    display: none;
    align-items: center;
}

.input {
    display: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    font-size: inherit;
    padding: 1rem 2rem;
    border: 1px solid var(--border);
}

.btn:hover {
    background-color: var(--background-colour);
}

.input:checked ~ .btn {
    background-color: var(--background-colour);
}

@media (min-width: 40em) {
    /* .panel {
        width: 100%;
    } */

    .form {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .select {
        display: none;
    }

    .label {
        display: flex;
    }
}
