.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
    padding-bottom: 4rem;
}

@media (min-width: 40em) {
    .list {
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    }
}
