@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-colour: #131826;
    --card-background-colour: #222a39;
    --colour: #c2c7d0;
    --primary: #4e80ee;
    --secondary: #f5c767;
    --h1-colour: #131826;
    --h2-colour: #e0e3e7;
    --h3-colour: #c2c7d0;
    --h4-colour: #b3b9c5;
    --h5-colour: #a4acba;
    --h6-colour: #8891a4;
}

body {
    background-color: var(--background-colour);
    color: var(--colour);
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.125rem, 1.0964rem + 0.1524vw, 1.325rem);
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    color: var(--h1-colour);
    font-size: clamp(2.5rem, 2.3571rem + 0.7619vw, 3.5rem);
    line-height: 1;
}

h2 {
    color: var(--h2-colour);
    font-size: clamp(2rem, 1.8571rem + 0.7619vw, 3rem);
    line-height: 1;
}

h3 {
    color: var(--h3-colour);
    font-size: clamp(1.5rem, 1.3929rem + 0.5714vw, 2.25rem);
    line-height: 1;
}

h4 {
    color: var(--h4-colour);
    font-size: clamp(1.25rem, 1.1786rem + 0.381vw, 1.625rem);
    line-height: 1;
}
